/*Header*/

.masthead {
  padding: 1em 0;
  background-image: url("https://images.unsplash.com/photo-1421435371524-d26441ec7dda?crop=entropy&fit=crop&fm=jpg&h=650&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1375");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: raleway, sans-serif;
  text-align: center;
  height: 650px;
}

.top-navigation > ul > li {
  display: inline-block;
  float: left; 
  padding-right: 1em;
  font-size: 1.15em;  
}

.masthead .top-navigation .home {
  font-weight: 900;
}

.top-navigation > ul > li:hover {
color: #D3D3D3;
cursor: pointer;
}

.masthead-name {
  text-align: center;
  font-size: 3.5em;
  font-weight: 100;
}

.masthead-job {
  font-size: 1.75em;
  font-weight: 100;
  margin-top: -1em;
}
.heading {
  padding-top: 10em;
}

/*Introduction Section*/

.introduction {
  font-family: raleway;
  font-size: 1.15em;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  font-weight: 100;
  text-align: center;
}

#intro-image {
  border-radius: 5px;
  border 1px solid black;
}

.introduction > p {
  margin-top: 2em;
}

/*Projects Section*/

.projects {
  background-color: #f3f3f3;
  font-family: raleway;
  text-align: center;
  height: 1000px;
}

.times-image {
border: 2px solid #8CC0BE;
border-radius: 5px;  
}

.karma-image {
margin-bottom: 2em;
margin-top: 2em;
border: 2px solid #8CC0BE;
border-radius: 5px;   
}

.about-me-image {
  border: 2px solid #8CC0BE;
  border-radius: 5px;
}

img:hover {
  opacity: 0.4;
  filter: alpha(opacity=40);
  cursor:pointer;
}

/* Footer Section */

.social {
 background-color:#8CC0BE;
 font-family: Raleway, sans-serif;
 text-align: center; 
 height: 300px;
}

.social .social-links > li {
  display: inline-block;
  margin-right: 1em;
  padding-top: 2em;
  padding-right: 1.25em;
} 

.fa:hover {
  color:  #504949;
  cursor: pointer;
}

.fa {
  color: #000000;
}

h2 {
  color: #325D80;
  padding-top: 0.75em;
  font-family: cabin;
  font-size: 2.5em;
  font-weight: lighter;
  margin-top: 0;
  text-decoration: none;
}

h6 {
  color: #8C5A41;
  margin-top: -2em;
  font-family: cabin;
  font-size: 1em;
  font-weight: lighter;
  text-decoration: none;
}


#made-by {
  padding-top: 4em;
  font-size: 0.75em;
  color: white;
}

/* Hex Colours from Background Picture: 
Light Blue: #8CC0BE
Dark Blue: #325D80
Brown Red: #8C5A41
*/

